<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to('kGarrison', root_url, class: 'navbar-brand') %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to('Missions', missions_path) %></li>
        <li><%= link_to('CSV', missions_path(format: :csv)) %></li>
        <li><%= link_to('XML', missions_path(format: :xml)) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Update All', missions_update_path) %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>